@model WebApplication10.Models.Instruction

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Instruction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Instructions" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameInstruction" class="control-label"></label>
                <input asp-for="NameInstruction" class="form-control" />
                <span asp-validation-for="NameInstruction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Decription" class="control-label"></label>
                <input asp-for="Decription" class="form-control" />
                <span asp-validation-for="Decription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    <select asp-for="Category" class="form-control" asp-items="ViewBag.Categories"></select>
                </div>
            </div>
         
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

